.idea/.idea.FindSong/.idea/.gitignore
.idea/.idea.FindSong/.idea/aws.xml
.idea/.idea.FindSong/.idea/efCoreCommonOptions.xml
.idea/.idea.FindSong/.idea/efCoreDialogsState.xml
.idea/.idea.FindSong/.idea/encodings.xml
.idea/.idea.FindSong/.idea/indexLayout.xml
.idea/.idea.FindSong/.idea/jsLibraryMappings.xml
.idea/.idea.FindSong/.idea/vcs.xml
.idea/config/applicationhost.config
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/FindSong/FileContentIndex/bba9fba1-a91a-4058-9dc2-1f5369c9299d.vsidx
.vs/FindSong/FileContentIndex/read.lock
.vs/FindSong/v17/.wsuo
